PORT=8080
META_VERIFY_TOKEN=your_meta_verify_token_here

# Jira
JIRA_BASE_URL=https://ronaldvillatoro91co.atlassian.net/
JIRA_EMAIL=ronaldvillatoro91co@gmail.com
JIRA_API_TOKEN=ATATT3xFfGF0yvWfTIg2SeOW16RxtPiL9K_b4iPjXcsun8QZDDLGs0cClVYTMzn8QZxHEYAySpdZjrIen-uo6hpGrynkmDpUJTmdrco0hw1vDlkIMVDsaZl4LqCeTbEuJAhjs2uF4vFhSuEMQBYiSRUqVl2JdiNeNT28ap-rnmJydA4CGtxlZjs=87AC41B1
