PORT=8080

# Meta / WhatsApp
META_VERIFY_TOKEN=EAASMVcoUuiABRkzYSgRvSttzbhO3DncuSTtVGlp5ay8jBWyhtqh58yBR75P1pcV4D4YNbqfR6Yd7FWUCPm33N8MU0wnzBAXrihg7MC8ixwLrkFa9m1dewF7LdnLZB1ZCKv4d6CQZCEncIr5NXWidfjmZC7FPh3q6ZBuD3pGEU3uGhZChvqLkzn4KTZBB0fDwAZDZD
WHATSAPP_TOKEN=EAASMVcoUuiABRkHvWMTlJZBHdggo1ZCYAb2eQfEkpYYgKOX1GlQ4K4fYa2pF0hofQ4dZAmxndOea1FSATKM5ZAprLnWrqb47cm7hh4ZCgtVnycwIFxSx2xI2jK0BR9AlmppcheX0zJgFysswZAQplp88ZCoZCps0AofrRLAHH0ELcoco4O6f6vEqZAqLPGTl7QEIg9ZA6YrZCiZAZBK7HL2KeZCZCtoD096DCes41ME6Mcn1D91mNOpQfJTDF6zOPeIQXlqvJbu5PGMGkrhzaClHuMwc2w2
WHATSAPP_PHONE_NUMBER_ID=1207201639133620

# Jira
JIRA_BASE_URL=https://your-domain.atlassian.net/
JIRA_EMAIL=your_email@example.com
JIRA_API_TOKEN=your_jira_api_token