PORT=8080
META_VERIFY_TOKEN=EAASMVcoUuiABRkzYSgRvSttzbhO3DncuSTtVGlp5ay8jBWyhtqh58yBR75P1pcV4D4YNbqfR6Yd7FWUCPm33N8MU0wnzBAXrihg7MC8ixwLrkFa9m1dewF7LdnLZB1ZCKv4d6CQZCEncIr5NXWidfjmZC7FPh3q6ZBuD3pGEU3uGhZChvqLkzn4KTZBB0fDwAZDZD

# Jira
JIRA_BASE_URL=https://ronaldvillatoro91co.atlassian.net/
JIRA_EMAIL=ronaldvillatoro91co@gmail.com
JIRA_API_TOKEN=ATATT3xFfGF0yvWfTIg2SeOW16RxtPiL9K_b4iPjXcsun8QZDDLGs0cClVYTMzn8QZxHEYAySpdZjrIen-uo6hpGrynkmDpUJTmdrco0hw1vDlkIMVDsaZl4LqCeTbEuJAhjs2uF4vFhSuEMQBYiSRUqVl2JdiNeNT28ap-rnmJydA4CGtxlZjs=87AC41B1